@mixin bgImg__contain {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@mixin bgImg__cover {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}